<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<div class='myprofile'>
  <h2>My Profile</h2>
  <div class='accountlist'>
    <p class='accpara'><span class='accspan'>Account Name:</span> <%= user.firstname %> <%= user.lastname %> </p>
    <p class='accpara'><span class='accspan'>Account ID:</span> <%= user.id %> </p>
    <p class='accpara'><span class='accspan'>Account Username:</span> <%= user.username %> </p>
    <p class='accpara'><span class='accspan'>Account Email:</span> <%= user.email %> </p>
  </ul>
</div>

<% include ../partials/end %>
