<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<div class='myshows'>
  <h2>Favorite Shows</h2>

  <div class='myshow-container'>
    <div id='addbut'><a id='myshowlink' href='/myshows/add'></a></div>
    <% for (let show of data) { %>
      <div id='myshowdata' class='show'>
        <h4><%= show.title %></h4>
        <p class='profileshows'><span class='profilespan'>Genre:</span> <%= show.genre %></p>
        <p class='profileshows'><span class='profilespan'>Country:</span> <%= show.country %></p>
        <p class='profileshows'><span class='profilespan'>Network:</span> <%= show.network %></p>
        <p class='profileshows'><span class='profilespan'>Status:</span> <%= show.status %></p>
        <div class='plink'>
          <a class='profilelink' id='plink1' href='/myshows/<%= show.id %>/edit'>Edit</a>
          <form class='profilelink' id='plink2' method='POST' action='/myshows/<%= show.id %>?_method=DELETE'>
            <input type='submit' value='Delete' />
          </form>
        </div>
      </div>
    <% } %>
  </div>
</div>

<% include ../partials/end %>


