<% include ../partials/boilerplate %>
<% include ../partials/nav %>


<div class='showsingle'>

  <div class='showsingle-container'>
    <% for (let show of data) { %>
      <div class='show'>
        <h3><%= show.name %></h3>
        <p id='imgp'><img src=<%= show.image_thumbnail_path %>><p>
        <p id='p1'><span class='showsinglespan'>Country:</span> <%= show.country %></p>
        <p id='p2'><span class='showsinglespan'>Network:</span> <%= show.network %></p>
        <p id='p3'><span class='showsinglespan'>Status:</span> <%= show.status %></p>
      </div>
    <% } %>
  </div>
</div>

<% include ../partials/end %>
